body {
	background: black;
	}
	

#search {
	text-align: center;
	color: white;
	max-width: 1100px;
	margin: 0 auto;
}

.movie {
	text-align: center;
	margin: 0 auto;
	font-size: 2em;
}

.recomendations{
		max-width: 600px;
		margin: 0 auto;
		color: white;
}

form input {
height: 1.1em;
font-size: 1.1em;
}

form input[type="submit"] {
height: 1.3em;
}

p {
	padding-bottom: -1em;
	margin-bottom: -1em;
}